<template>
  <q-page class="flex flex-left">
    <div class="soh" style="width: 48rem; max-width: 100%; padding: 0 1rem">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ligula
        tellus, mollis at odio id, aliquet fermentum odio. Integer vitae tempus
        ex. Quisque ut arcu metus. Maecenas efficitur feugiat metus eu
        pellentesque. Donec ex tortor, tincidunt quis faucibus ac, congue eu
        sem. Nullam laoreet pulvinar urna id finibus. Pellentesque imperdiet
        venenatis nisl scelerisque sodales. Vivamus eu massa varius, iaculis
        felis ut, viverra nunc. Suspendisse est erat, eleifend at arcu in,
        maximus placerat nisl. Vivamus tristique mollis ante, et tristique enim
        condimentum ut. Nam non mauris id lorem tincidunt dignissim. Fusce nec
        enim faucibus risus dignissim vestibulum.
      </p>
      <h2>Donec at aliquet metus</h2>
      <p>
        Donec at aliquet metus. <em>Proin a velit nulla.</em> Nulla facilisi.
        <strong>Maecenas at libero tortor.</strong> Mauris fringilla eget diam
        ornare congue.
        <em
          ><strong
            >Vivamus scelerisque leo et nibh faucibus, sed tempus nisi
            luctus.</strong
          ></em
        >
        Quisque porta sed dui a tempor. Duis dictum dolor at felis congue,
        gravida posuere sem tincidunt. Nullam quis dignissim eros. Proin vel
        lobortis odio, sed rutrum tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Mauris eu ligula
        risus. Ut vulputate mauris interdum, luctus ante id, fermentum enim.
        Aenean luctus orci sed pretium molestie. Pellentesque bibendum molestie
        egestas. Morbi a massa quis ipsum pulvinar gravida ac a justo.
      </p>
      <blockquote class="blockquote">
        Curabitur convallis sollicitudin massa, ut fermentum erat tempus et.
        Phasellus viverra imperdiet tempus.
        <div class="author">&#x2014;&#x2009;Lorem Ipsum</div>
      </blockquote>
      <div style="position: relative">
        <p>
          Integer in velit malesuada, varius risus eget, consequat dolor.
          Curabitur ut rutrum erat. In hac habitasse platea dictumst. Proin
          mauris augue, euismod eu erat sed, bibendum porta risus. Aenean
          fermentum, sapien in sollicitudin iaculis, enim felis ultricies nunc,
          at rutrum quam enim quis nulla<sup>1</sup>. Ut fringilla tortor
          tortor, ut dignissim metus feugiat nec. Phasellus in ornare dui. In
          hac habitasse platea dictumst. Integer tristique tellus a congue
          scelerisque. In consectetur, nisl sit amet fermentum blandit, eros
          mauris ullamcorper lacus, eget maximus urna diam eget nibh.
          Suspendisse neque ipsum, laoreet eget pretium eu, fermentum vitae
          velit. Vivamus mollis cursus lacus in tempus. Cras a nisi dui.
        </p>
        <div class="note">
          <sup>&numsp;1</sup> Nam scelerisque bibendum ipsum vel pretium.
          Phasellus ultrices, est in varius pretium, massa eros eleifend odio,
          eget varius magna urna eget ex.
        </div>
      </div>
      <h3>Vivamus ac efficitur turpis</h3>
      <div style="position: relative">
        <p>
          Vivamus eleifend tristique est sit amet vestibulum<sup>42</sup>.
          Integer facilisis, enim non malesuada efficitur, leo velit pulvinar
          eros, a dignissim ex elit a massa. In hac habitasse platea dictumst.
          Phasellus ut nulla faucibus, ultricies justo eu, ultrices sem. Morbi
          luctus dui quis ex laoreet, id porttitor nulla rutrum. Aliquam vitae
          ipsum at arcu blandit sagittis sed a tellus. Praesent maximus rhoncus
          purus, et pretium metus ultricies non. Sed semper, tortor accumsan
          pellentesque euismod, lacus magna ultricies nisl, sed commodo lorem
          leo at diam. Pellentesque maximus tellus in ante lacinia, non
          convallis mi facilisis. Duis vehicula dignissim pretium. Quisque
          viverra ipsum id libero pellentesque, id accumsan nisl ultrices.
        </p>
        <div class="note">
          <sup>42</sup> Nam scelerisque bibendum ipsum vel pretium. Phasellus
          ultrices, est in varius pretium, massa eros eleifend odio, eget varius
          magna urna eget ex.
        </div>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'IndexPage',
});
</script>
