<template>
  <router-view />
</template>

<script>
import { defineComponent, provide } from 'vue';
import { useMachine } from '@xstate/vue';

import App from './components/app.machine';

export default defineComponent({
  name: 'App',
  setup() {
    const app = useMachine(App.makeMachine());

    provide('app-service', app.service);

    return { app };
  },
});
</script>
