@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

@font-face {
  font-family: 'Artifex Hand CF';
  font-weight: 500;
  src: url('./fonts/ArtifexHandCF-Book.woff2'),
    url('./fonts/ArtifexHandCF-Book.woff');
}

@font-face {
  font-family: 'Artifex Hand CF';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/ArtifexHandCF-BookItalic.woff2'),
    url('./fonts/ArtifexHandCF-BookItalic.woff');
}

@font-face {
  font-family: 'Artifex Hand CF';
  font-weight: 700;
  src: url('./fonts/ArtifexHandCF-Heavy.woff2'),
    url('./fonts/ArtifexHandCF-Heavy.woff');
}

@font-face {
  font-family: 'Artifex Hand CF';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/ArtifexHandCF-HeavyItalic.woff2'),
    url('./fonts/ArtifexHandCF-HeavyItalic.woff');
}

@font-face {
  font-family: 'Cartograph CF';
  font-weight: 100;
  src: url('./fonts/CartographCF-Thin.woff2'),
    url('./fonts/CartographCF-Thin.woff');
}

@font-face {
  font-family: 'STIX Two Math';
  font-weight: 400;
  src: url('./fonts/STIXTwoMath-Regular.woff2');
}

@font-face {
  font-family: 'Visby Round CF';
  font-weight: 600;
  src: url('./fonts/VisbyRoundCF-DemiBold.woff2'),
    url('./fonts/VisbyRoundCF-DemiBold.woff');
}

@font-face {
  font-family: 'Visby Round CF';
  font-style: oblique;
  font-weight: 600;
  src: url('./fonts/VisbyRoundCF-DemiBoldOblique.woff2'),
    url('./fonts/VisbyRoundCF-DemiBoldOblique.woff');
}

@font-face {
  font-family: 'Visby Round CF';
  font-weight: 300;
  src: url('./fonts/VisbyRoundCF-Light.woff2'),
    url('./fonts/VisbyRoundCF-Light.woff');
}

@font-face {
  font-family: 'Visby Round CF';
  font-style: oblique;
  font-weight: 300;
  src: url('./fonts/VisbyRoundCF-LightOblique.woff2'),
    url('./fonts/VisbyRoundCF-LightOblique.woff');
}

:root {
  --accent: #b58900;
  --alt-accent: #268bd2;
  --primary-content: #657b83;
  --secondary-content: #93a1a1;
  --emphasized-content: #586e75;
  --background: #fdf6e3;
  --background-highlight: #eee8d5;
  --blockquote-border: #657b8320;
  --toolbar: #839496;
}

body {
  background-color: var(--background-highlight);
}

.toolbar-title {
  font-family: 'Cartograph CF';
  font-size: $font-size-h3;
  font-weight: 100;
  color: var(--background);
}

.soh {
  font-family: 'Artifex Hand CF', serif;
  font-size: $font-size-body;
  font-weight: 500;
  line-height: 1.44rem;
  color: var(--primary-content);
  background-color: var(--background);
}

.soh h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Visby Round CF', sans-serif;
  color: var(--emphasized-content);
  font-weight: 600;
  line-height: 1.44em;
}

.soh h1 {
  font-size: $font-size-h1;
  border-bottom: 3px solid var(--accent);
}

.soh h2 {
  font-size: $font-size-h2;
  border-bottom: 1px solid var(--accent);
}

.soh h3 {
  font-size: $font-size-h3;
  margin-bottom: 1rem;
}

.blockquote {
  font-style: italic;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-inline: 3rem;
  padding: 0.5rem 1rem 0.3rem 1rem;
  position: relative;
  border: 1px solid var(--blockquote-border);
  border-start-end-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
}

.blockquote::before,
.blockquote::after {
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  content: '';
}

.blockquote::before {
  left: -1px;
  top: -1px;
  border-left: 4px solid var(--secondary-content);
  border-top: 1px solid var(--secondary-content);
}

.blockquote::after {
  right: -1px;
  bottom: -1px;
  border-right: 4px solid var(--secondary-content);
  border-bottom: 1px solid var(--secondary-content);
}

.soh .author {
  text-align: right;
}

.soh sup,
sub {
  font-family: 'Noto Sans', sans-serif;
  font-size: $font-size-note;
  font-weight: 400;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  // background-color: red;
}

.soh sub {
  top: 0.4em;
}

.note {
  font-size: $font-size-smaller;
  color: var(--primary-content);
  line-height: 1.2rem;
  background-color: var(--background-highlight);
  position: absolute;
  left: 47.5rem;
  top: 0.2rem;
  width: 14rem;
  padding-left: 1.12rem;
  text-indent: -1.12rem;
}

.toolbar {
  background-color: var(--toolbar);
}

.theme-picker-button {
  font-face: 'Visby Round';
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--background);
}
