// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@use 'sass:math';

$font-size-factor: math.pow(3, 1/6);
$font-size-body: 1rem;
$font-size-smaller: $font-size-body / $font-size-factor;
$font-size-note: $font-size-smaller / $font-size-factor;
$font-size-h6: $font-size-body * $font-size-factor;
$font-size-h5: $font-size-h6 * $font-size-factor;
$font-size-h4: $font-size-h5 * $font-size-factor;
$font-size-h3: $font-size-h4 * $font-size-factor;
$font-size-h2: $font-size-h3 * $font-size-factor;
$font-size-h1: $font-size-h2 * $font-size-factor;
