<template>
  <div class="row" style="width: 9rem">
    <div class="col-5 row q-pr-xs q-mt-xs">
      <theme-picker-button
        label="LIGHT"
        :isActive="isLight"
        @click="selectLight"
      />
      <theme-picker-button
        label="DARK"
        :isActive="isDark"
        @click="selectDark"
      />
    </div>
    <div class="col-7 row q-pl-xs q-mt-xs">
      <theme-picker-button
        label="STANDARD"
        :isActive="isStandard"
        @click="selectStandard"
      />
      <theme-picker-button
        label="SOLARIZED"
        :isActive="isSolarized"
        @click="selectSolarized"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, inject } from 'vue';
import {
  ActorRef,
  EventObject,
  Interpreter,
  StateSchema,
  Typestate,
} from 'xstate';
import { useSelector } from '@xstate/vue';

import ThemePickerButton from './ThemePickerButton.vue';

import ThemePicker from './themePicker.machine';

export default defineComponent({
  name: 'ThemePicker',
  components: {
    ThemePickerButton,
  },
  setup() {
    const service = (
      inject('app-service') as Interpreter<
        never,
        StateSchema,
        EventObject,
        Typestate<never>
      >
    ).children.get(ThemePicker.MACHINE_ID) as ActorRef<EventObject, never>;

    const getters = {
      isDark: useSelector(service, ThemePicker.isDark),
      isLight: useSelector(service, ThemePicker.isLight),
      isSolarized: useSelector(service, ThemePicker.isSolarized),
      isStandard: useSelector(service, ThemePicker.isStandard),
    };

    const actions = {
      selectDark: () => ThemePicker.selectDark(service.send),
      selectLight: () => ThemePicker.selectLight(service.send),
      selectSolarized: () => ThemePicker.selectSolarized(service.send),
      selectStandard: () => ThemePicker.selectStandard(service.send),
    };

    return {
      ...actions,
      ...getters,
    };
  },
});
</script>
