<template>
  <q-btn
    class="col-12 theme-picker-button"
    :label="label"
    :outline="isActive"
    :flat="!isActive"
    padding="1px 0 0 0"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'ThemePickerButton',
  props: {
    label: {
      type: String,
      default: '???',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
  },
});
</script>
